---
http_interactions:
- request:
    method: post
    uri: https://www.notion.so/api/v3/submitTransaction
    body:
      encoding: UTF-8
      string: '{"requestId":"6424e1e1-b08f-4be0-be5b-acbc020321b3","transactions":[{"id":"ac5bffa9-7199-4688-a892-9a76497a08f9","operations":[{"id":"404-page","table":"block","path":["properties","title"],"command":"set","args":[["A
        new title 2"]]}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com
        https://checkout.stripe.com https://embed.typeform.com https://admin.typeform.com
        https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src
        ''self'' https://msgstore.www.notion.so wss://msgstore.www.notion.so https://s3-us-west-2.amazonaws.com
        https://s3.us-west-2.amazonaws.com https://notion-production-snapshots.s3.us-west-2.amazonaws.com
        https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com
        https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
        https://api.segment.io https://checkout.stripe.com https://api.unsplash.com;
        font-src ''self'' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;
        img-src ''self'' data: blob: https: https://platform.twitter.com https://syndication.twitter.com
        https://pbs.twimg.com https://ton.twimg.com; style-src ''self'' ''unsafe-inline''
        https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com
        https://ton.twimg.com; frame-src https: http:; media-src https: http:'
      X-Webkit-Csp:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com
        https://checkout.stripe.com https://embed.typeform.com https://admin.typeform.com
        https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src
        ''self'' https://msgstore.www.notion.so wss://msgstore.www.notion.so https://s3-us-west-2.amazonaws.com
        https://s3.us-west-2.amazonaws.com https://notion-production-snapshots.s3.us-west-2.amazonaws.com
        https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com
        https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
        https://api.segment.io https://checkout.stripe.com https://api.unsplash.com;
        font-src ''self'' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;
        img-src ''self'' data: blob: https: https://platform.twitter.com https://syndication.twitter.com
        https://pbs.twimg.com https://ton.twimg.com; style-src ''self'' ''unsafe-inline''
        https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com
        https://ton.twimg.com; frame-src https: http:; media-src https: http:'
      Etag:
      - W/"6e-FFQja/N5uZwzutgwBQMjVm23Ta0"
    body:
      encoding: UTF-8
      string: '{"errorId":"fe5bb061-2c03-466a-9a99-edc091f5219c","name":"ValidationError","message":"Invalid
        record request"}'
  recorded_at: Thu, 19 Dec 2019 16:05:34 GMT
recorded_with: VCR 5.0.0
