---
http_interactions:
- request:
    method: post
    uri: https://www.notion.so/api/v3/submitTransaction
    body:
      encoding: UTF-8
      string: '{"requestId":"f0326c4a-638b-4e21-acdf-ef2216166ee5","transactions":[{"id":"0d891191-cb70-430f-8e9a-ddd3ff3ea7e3","operations":[{"id":"172e2e36-3fe1-48c4-b23e-6eacb66b8c70","table":"block","path":[],"command":"set","args":{"type":"text","id":"172e2e36-3fe1-48c4-b23e-6eacb66b8c70","version":1}},{"id":"172e2e36-3fe1-48c4-b23e-6eacb66b8c70","table":"block","path":[],"command":"update","args":{"parent_id":"b4902cb0-62da-42cc-bb1a-1e6c57c62feb","parent_table":"block","alive":true}},{"id":"b4902cb0-62da-42cc-bb1a-1e6c57c62feb","table":"block","path":["content"],"command":"listAfter","args":{"id":"172e2e36-3fe1-48c4-b23e-6eacb66b8c70"}},{"id":"172e2e36-3fe1-48c4-b23e-6eacb66b8c70","table":"block","path":["properties","title"],"command":"set","args":[]},{"id":"172e2e36-3fe1-48c4-b23e-6eacb66b8c70","table":"block","path":["created_time"],"command":"set","args":1578076200000},{"id":"172e2e36-3fe1-48c4-b23e-6eacb66b8c70","table":"block","path":["last_edited_time"],"command":"set","args":1578076200000}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com
        https://checkout.stripe.com https://embed.typeform.com https://admin.typeform.com
        https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src
        ''self'' https://msgstore.www.notion.so wss://msgstore.www.notion.so https://s3-us-west-2.amazonaws.com
        https://s3.us-west-2.amazonaws.com https://notion-production-snapshots.s3.us-west-2.amazonaws.com
        https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com
        https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
        https://api.segment.io https://checkout.stripe.com https://api.unsplash.com;
        font-src ''self'' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;
        img-src ''self'' data: blob: https: https://platform.twitter.com https://syndication.twitter.com
        https://pbs.twimg.com https://ton.twimg.com; style-src ''self'' ''unsafe-inline''
        https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com
        https://ton.twimg.com; frame-src https: http:; media-src https: http:'
      X-Webkit-Csp:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com
        https://checkout.stripe.com https://embed.typeform.com https://admin.typeform.com
        https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src
        ''self'' https://msgstore.www.notion.so wss://msgstore.www.notion.so https://s3-us-west-2.amazonaws.com
        https://s3.us-west-2.amazonaws.com https://notion-production-snapshots.s3.us-west-2.amazonaws.com
        https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com
        https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
        https://api.segment.io https://checkout.stripe.com https://api.unsplash.com;
        font-src ''self'' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;
        img-src ''self'' data: blob: https: https://platform.twitter.com https://syndication.twitter.com
        https://pbs.twimg.com https://ton.twimg.com; style-src ''self'' ''unsafe-inline''
        https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com
        https://ton.twimg.com; frame-src https: http:; media-src https: http:'
      X-Notion-User-Id:
      - 28599043-f9d1-4370-883e-3c0e4756ac77
      Etag:
      - W/"2-vyGp6PvFo4RvsFtPoIWeCReyIC8"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 03 Jan 2020 18:31:05 GMT
recorded_with: VCR 5.0.0
