---
http_interactions:
- request:
    method: post
    uri: https://www.notion.so/api/v3/submitTransaction
    body:
      encoding: UTF-8
      string: '{"requestId":"24985d83-8c4d-4948-9272-b4b2b1a097d3","transactions":[{"id":"04f664e3-c371-4b8e-9f26-4d6ad7c2b354","operations":[{"id":"404-page","table":"block","path":["properties","title"],"command":"set","args":[["A
        new title 2"]]}]},{"id":"08fdaccf-e883-4fb1-bbe9-8b05214b78be","operations":[{"id":"404-page","table":"block","path":[],"command":"update","args":{"type":null}}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com
        https://checkout.stripe.com https://embed.typeform.com https://admin.typeform.com
        https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src
        ''self'' https://msgstore.www.notion.so wss://msgstore.www.notion.so https://s3-us-west-2.amazonaws.com
        https://s3.us-west-2.amazonaws.com https://notion-production-snapshots.s3.us-west-2.amazonaws.com
        https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com
        https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
        https://api.segment.io https://checkout.stripe.com https://api.unsplash.com;
        font-src ''self'' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;
        img-src ''self'' data: blob: https: https://platform.twitter.com https://syndication.twitter.com
        https://pbs.twimg.com https://ton.twimg.com; style-src ''self'' ''unsafe-inline''
        https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com
        https://ton.twimg.com; frame-src https: http:; media-src https: http:'
      X-Webkit-Csp:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com
        https://checkout.stripe.com https://embed.typeform.com https://admin.typeform.com
        https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src
        ''self'' https://msgstore.www.notion.so wss://msgstore.www.notion.so https://s3-us-west-2.amazonaws.com
        https://s3.us-west-2.amazonaws.com https://notion-production-snapshots.s3.us-west-2.amazonaws.com
        https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com
        https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
        https://api.segment.io https://checkout.stripe.com https://api.unsplash.com;
        font-src ''self'' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;
        img-src ''self'' data: blob: https: https://platform.twitter.com https://syndication.twitter.com
        https://pbs.twimg.com https://ton.twimg.com; style-src ''self'' ''unsafe-inline''
        https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com
        https://ton.twimg.com; frame-src https: http:; media-src https: http:'
      Etag:
      - W/"6e-5uz5MTaExPbSNI/UThfc6+vwsYk"
    body:
      encoding: UTF-8
      string: '{"errorId":"71a7f9fe-e91a-4852-842c-09ff1efc9b63","name":"ValidationError","message":"Invalid
        record request"}'
  recorded_at: Fri, 27 Dec 2019 16:01:09 GMT
recorded_with: VCR 5.0.0
