---
http_interactions:
- request:
    method: post
    uri: https://www.notion.so/api/v3/submitTransaction
    body:
      encoding: UTF-8
      string: '{"requestId":"733495e9-80b2-4c74-86df-2de05ff3437c","transactions":[{"id":"1ed751e3-27f6-49ae-a2ac-c2bf36708839","operations":[{"id":"13f5a83a-5a6f-4625-a876-44cae16b9648","table":"block","path":[],"command":"update","args":{"parent_id":"f0d7f6e4-c228-4cba-b860-a6f40ed3372e","parent_table":"block","alive":true}},{"id":"f0d7f6e4-c228-4cba-b860-a6f40ed3372e","table":"block","path":["content"],"command":"listAfter","args":{"id":"13f5a83a-5a6f-4625-a876-44cae16b9648"}}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com
        https://checkout.stripe.com https://embed.typeform.com https://admin.typeform.com
        https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src
        ''self'' https://msgstore.www.notion.so wss://msgstore.www.notion.so https://s3-us-west-2.amazonaws.com
        https://s3.us-west-2.amazonaws.com https://notion-production-snapshots.s3.us-west-2.amazonaws.com
        https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com
        https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
        https://api.segment.io https://checkout.stripe.com https://api.unsplash.com;
        font-src ''self'' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;
        img-src ''self'' data: blob: https: https://platform.twitter.com https://syndication.twitter.com
        https://pbs.twimg.com https://ton.twimg.com; style-src ''self'' ''unsafe-inline''
        https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com
        https://ton.twimg.com; frame-src https: http:; media-src https: http:'
      X-Webkit-Csp:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com
        https://checkout.stripe.com https://embed.typeform.com https://admin.typeform.com
        https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src
        ''self'' https://msgstore.www.notion.so wss://msgstore.www.notion.so https://s3-us-west-2.amazonaws.com
        https://s3.us-west-2.amazonaws.com https://notion-production-snapshots.s3.us-west-2.amazonaws.com
        https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com
        https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
        https://api.segment.io https://checkout.stripe.com https://api.unsplash.com;
        font-src ''self'' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;
        img-src ''self'' data: blob: https: https://platform.twitter.com https://syndication.twitter.com
        https://pbs.twimg.com https://ton.twimg.com; style-src ''self'' ''unsafe-inline''
        https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com
        https://ton.twimg.com; frame-src https: http:; media-src https: http:'
      X-Notion-User-Id:
      - 28599043-f9d1-4370-883e-3c0e4756ac77
      Etag:
      - W/"2-vyGp6PvFo4RvsFtPoIWeCReyIC8"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 24 Dec 2019 21:35:23 GMT
recorded_with: VCR 5.0.0
