---
http_interactions:
- request:
    method: post
    uri: https://www.notion.so/api/v3/submitTransaction
    body:
      encoding: UTF-8
      string: '{"requestId":"88bb6e1b-fb74-4b47-8837-9e1593208370","transactions":[{"id":"6886a4db-7721-452d-b955-7fbcf14d99f6","operations":[{"id":"404-page","table":"block","path":[],"command":"update","args":{"alñive":false}}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com
        https://checkout.stripe.com https://embed.typeform.com https://admin.typeform.com
        https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src
        ''self'' https://msgstore.www.notion.so wss://msgstore.www.notion.so https://s3-us-west-2.amazonaws.com
        https://s3.us-west-2.amazonaws.com https://notion-production-snapshots.s3.us-west-2.amazonaws.com
        https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com
        https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
        https://api.segment.io https://checkout.stripe.com https://api.unsplash.com;
        font-src ''self'' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;
        img-src ''self'' data: blob: https: https://platform.twitter.com https://syndication.twitter.com
        https://pbs.twimg.com https://ton.twimg.com; style-src ''self'' ''unsafe-inline''
        https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com
        https://ton.twimg.com; frame-src https: http:; media-src https: http:'
      X-Webkit-Csp:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com
        https://checkout.stripe.com https://embed.typeform.com https://admin.typeform.com
        https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src
        ''self'' https://msgstore.www.notion.so wss://msgstore.www.notion.so https://s3-us-west-2.amazonaws.com
        https://s3.us-west-2.amazonaws.com https://notion-production-snapshots.s3.us-west-2.amazonaws.com
        https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com
        https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
        https://api.segment.io https://checkout.stripe.com https://api.unsplash.com;
        font-src ''self'' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;
        img-src ''self'' data: blob: https: https://platform.twitter.com https://syndication.twitter.com
        https://pbs.twimg.com https://ton.twimg.com; style-src ''self'' ''unsafe-inline''
        https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com
        https://ton.twimg.com; frame-src https: http:; media-src https: http:'
      Etag:
      - W/"6e-AZ0kOikwR6OfiS1BS9XhREigCqU"
    body:
      encoding: UTF-8
      string: '{"errorId":"52c5c427-2138-4b81-be95-7e296a8433d7","name":"ValidationError","message":"Invalid
        record request"}'
  recorded_at: Tue, 24 Dec 2019 14:12:44 GMT
recorded_with: VCR 5.0.0
